<nav class="navbar navbar-light bg-light justify-content-between">
	<a class="navbar-brand">
		<i class="fa fa-database mr-3" aria-hidden="true"></i>
		<span>Data Viz</span>
	</a>
	<form class="form-inline">
		<span class="navbar-text">
			<!-- Display when user is connected -->
			<ng-container *ngIf="profile">
				<span class="navbar-text mr-2"> Welcome {{ profile.fname }} </span>
				<span class="navbar-text cursor-pointer">
					<a class="nav-link pt-0 pb-0" (click)="logout()">Sign out</a>
				</span>
			</ng-container>
			<!-- Display when no session detected -->
			<span *ngIf="!profile" class="nav-item">
				<a routerLink="/login" class="nav-link">Sign in</a>
			</span>
		</span>
	</form>
</nav>
