<div class="container text-center mt-5">
	<h1 class="mb-3">Login</h1>
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" class="form form-horizontal form-signin" #form="ngForm" *ngIf="!loading">
		<div class="form-group">
			<div class="col-xs-12">
				<input
					type="text"
					name="identifiant"
					id="identifiant"
					class="form-control"
					formControlName="identifiant"
					placeholder="Type your id here"
				/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12">
				<input
					type="password"
					name="password"
					id="password"
					class="form-control"
					formControlName="password"
					placeholder="Type your password here"
				/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12">
				<button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">
					Let's rock data viz
				</button>
			</div>
		</div>
	</form>
	<i *ngIf="loading" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
	<alert *ngIf="errorMessage" type="danger"> <strong>Oh snap!</strong> {{ errorMessage }} </alert>
</div>
